.select {
  position: relative;
  display: block;
  flex-grow: 1;
  max-width: 270px;
  margin-right: 11px;
}

.new-select {
  position: relative;
  width: 240px;
  padding: 9px 50px 9px 12px;
  border: 4px solid $black;
  cursor: pointer;
  user-select: none;
  @include before-after;
  @include before-clean {
    top: 0;
    right: 0;
    height: 100%;
    width: 45px;
    background-image: url('../img/svg/arrow.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    @include transition;
  }
  @include after-clean {
    top: 7px;
    right: 42px;
    height: 21px;
    width: 1px;
    background-color: $black;
  }

  &.on {
    @include before-clean {
      transform: rotate(0);
    }
  }
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  width: 240px;
  border: 1px solid $black;
  border-top: 0;
  background: white;
  cursor: pointer;
  z-index: 2;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item {
  &:not(:last-child) {
    border-bottom: 1px solid $black;
  }
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: $light-red;
  @include transition;
  @include active-opacity;
}
