.subtitle {
  @include reset-margin-text;
  margin-bottom: 69px;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
  text-align: right;
  text-transform: none;
}

.subtitle__pseudo {
  position: relative;
  display: inline-block;
  @include before {
    z-index: -1;
    left: -5px;
    bottom: -4px;
    height: 14px;
    width: 100%;
    background-color: $light-red;
  }

  &--news {
    margin-left: 15px;
  }

  &--favorites {
    @include before-clean {
      left: -10px;
    }
  }

  &--contacts {
    @include before-clean {
      left: -12px;
      bottom: -8px;
    }
  }
}

//Tablet
@include tablet {
  .subtitle {
    margin-bottom: 25px;
  }
}

//Mobile
@include mobile {
  .subtitle {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 120%;
  }

  .subtitle__pseudo {
    @include before-clean {
      height: 10px;
      bottom: -2px;
    }
  }
}
