.wrapper {
  width: $desktop-width;
  @include center-margin;
}

//Tablet
@include tablet {
  .wrapper {
    width: $tablet-width;
    @include padding-tablet;
  }
}

//Mobile
@include mobile {
  .wrapper {
    width: 100%;
    @include padding-mobile;
  }
}
