.header {
  padding-top: 23px;
  padding-bottom: 143px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  overflow: hidden;
}

.header__wrapper {
  position: relative;
  z-index: 100;
  @include flex;
  align-items: flex-start;
  padding-right: 70px;
  margin-bottom: 21px;
}

.header__banner {
  position: relative;
  z-index: 50;
}

.header__logo-link {
  display: inline-block;
}

.header__mobile-box {
  padding-top: 7px;
  margin-right: 103px;
}

.header__button {
  display: none;
}

.header__rating {
  position: relative;
  @include padding-horizon(5px);
  width: 40px;
  padding-top: 8px;
  margin-left: 6px;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
}

.header__nav {
  position: relative;
  margin-right: auto;
  max-width: 40%;
  padding-top: 19px;
  padding-left: 10px;
  padding-bottom: 5px;
  align-self: flex-start;
}

.header__nav-animate {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  display: block;
  width: 73px;
  height: 13px;
  background-color: $light-red;
}

.header__list {
  @include flex;
  @include reset-list;
  text-transform: uppercase;
}

.header__item {
  margin-right: 17px;
}

.header__inner {
  @include flex;
  min-width: 9.5%;
  max-width: 40%;
  padding-left: 15px;
  padding-top: 5px;
}

.header__count {
  position: absolute;
  top: -9px;
  left: 8px;
  @include reset-margin-text;
}

.header__link {
  transition: color $transition-delay ease;
  @include hover {
    color: rgba(31, 31, 31, 0.6);
  }
}

.header__input {
  width: 200px;
  padding: 7px 23px 7px 5px;
  margin-left: 5px;
  border: 0;
  border-bottom: 1px solid $black;
  outline: none;
  font-size: 14px;
  transition: width ease-in-out $transition-delay;
  @include placeholder-focus;
  @include placeholder {
    color: black;
    font-size: 14px;
    font-weight: inherit;
  }
}

.header__input-button {
  position: absolute;
  @include reset-button;
  top: 11px;
  right: 6px;
  width: 15px;
  height: 15px;
  @include transition;
  outline: none;
  @include before-after-hover {
    background-color: $light-red;
  }
  @include before-after-active-opacity;
  @include before-after {
    top: 5px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: $black;
    opacity: 1;
    @include transition;
  }
  @include before-clean {
    transform: rotate(45deg);
  }
  @include after-clean {
    transform: rotate(-45deg);
  }
}

.header__search {
  position: relative;
  @include flex;
  align-items: center;
  align-self: flex-start;
  min-height: 36px;

  &--closed {
    .header__input {
      @include reset-input;
      width: 0;
      overflow: hidden;
      font-size: 0;
      @include placeholder {
        font-size: 0;
      }
    }

    .header__input-button {
      width: 0;
      height: 0;
      @include before-after-clean {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }
}

.header__icon-search {
  @include transition;
}

.header__search-button {
  @include reset-button;
  display: inline-block;
  width: 17px;
  height: 17px;
  box-sizing: content-box;
  cursor: pointer;
  @include hover {
    .header__icon-search {
      fill: $light-red;
    }
  }
  @include active {
    .header__icon-search {
      opacity: $down-opacity;
    }
  }
}

.header__rating-button {
  display: inline-block;
  @include active-opacity;
  @include hover {
    .header__star {
      fill: $light-red;
      @include transition;
    }
  }
}

.header__languages-item {
  align-self: flex-end;
  cursor: pointer;
  @include transition;
  @include hover {
    color: $light-red;
  }
}

.header__languages-link {
  display: inline-block;
  @include hover {
    color: $light-red;
  }
}

.header__languages {
  padding: 10px 5px 0;
  width: 50px;
  text-align: right;
  font-size: 16px;
  line-height: 19px;
}

.header__languages-inner {
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
  @include transition;
}


.header__languages-wrapper {
  position: relative;
  @include flex-column;
  align-items: flex-end;
  @include reset-list;
  @include hover {
    .header__languages-inner {
      position: absolute;
      top: 100%;
      @include flex-column;
      width: 100%;
      height: auto;
      font-size: inherit;
      opacity: 1;
    }
  }
}

.header__nav-box {
  @include flex;
  flex-grow: 1;
}


//Tablet
@include tablet {
  .header {
    padding-bottom: 0;
  }

  .header__nav {
    padding-left: 0;
    max-width: 300px;
  }

  .header__mobile-box {
    margin-right: 30px;
  }

  .header__list {
    padding-left: 0;
    max-width: 100%;
    width: 300px;
    font-size: 12px;
    line-height: 120%;
  }

  .header__nav-animate {
    left: -8px;
    bottom: 0;
    width: 64px;
    height: 12px;
  }

  .header__inner {
    padding-left: 0;
    max-width: 43%;
  }

  .header__input {
    width: 110px;
  }

  .header__input-button {
    right: 4px;
  }
}

//Mobile
@include mobile {
  .header {
    position: relative;
    z-index: 1000;
    padding-top: 0;
    margin-bottom: 15px;
    background-color: white;

    &--closed {
      height: 100vh;
    }
  }

  .header__wrapper {
    position: static;
    margin-bottom: 0;
  }

  .header__mobile-box {
    position: relative;
    @include flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    @include padding-vertical(15px);
    @include margin-negative-mobile;
    background-color: white;
  }

  .header__button {
    position: relative;
    display: inline-block;
    @include reset-button;
    width: 20px;
    height: 20px;
    @include before-after-active-opacity;
    outline: none;
    @include before-after {
      width: 100%;
      height: 2px;
      background-color: $black;
    }
    @include before-clean {
      transform: rotate(45deg);
    }
    @include after-clean {
      transform: rotate(-45deg);
    }

    &--closed {
      @include before-clean {
        display: none;
      }
      @include after-clean {
        top: 50%;
        transform: rotate(0) translateY(-50%);
        box-shadow: 0 7px 0 0 black,
                    0 -7px 0 0 black;
      }
    }
  }

  .header__nav-box {
    position: absolute;
    z-index: 99;
    top: 61px;
    left: 0;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    padding-bottom: 130px;
    background-color: white;
    opacity: 1;
    transition: 0.5s ease;

    &--closed {
      z-index: -100;
      top: -1000px;
      opacity: 0;
    }
  }

  .header__nav {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding: 0;
  }

  .header__inner {
    width: auto;
    max-width: 100%;
    margin-top: 5px;
    @include padding-mobile;
  }

  .header__nav-animate {
    display: none;
  }

  .header__list {
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    background-color: white;
  }

  .header__item {
    margin-right: 0;
    padding: 15px $mobile-padding;
    border-bottom: 1px solid $black;

    &:first-child {
      border-top: 1px solid $black;
    }
  }

  .header__search {
    margin-bottom: 20px;
  }


  .header__search,
  .header__search--closed {
    @include flex;
    width: 100%;

    .header__input {
      width: 87%;
      padding: 7px 5px;
      margin-left: 0;
      font-size: 18px;
      border-bottom: 1px solid $black;
      @include placeholder {
        font-size: 18px;
        line-height: 120%;
      }
    }

    .header__input-button {
      width: 0;
      height: 0;
      @include before-after-clean {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }
  }

  .header__search-button {
    order: 4;
    width: 25px;
    height: 25px;
    margin-right: 0;
    margin-left: 10px;
  }

  .header__icon-search {
    width: 25px;
    height: 25px;
  }

  .header__rating {
    order: 2;
    width: 50%;
    margin-left: 0;
    @include padding-horizon(10px);
  }

  .header__languages {
    @include flex;
    align-items: center;
    max-width: 50%;
    padding-top: 0;
    padding-right: 0;
    flex-grow: 1;
  }

  .header__count {
    top: -6px;
    right: 0;
  }

  .header__languages-inner {
    transition: none;
  }

  .header__languages-wrapper {
    @include flex-row;
    flex-grow: 1;
    @include hover {
      .header__languages-inner {
        position: static;
        @include flex-row;
        width: auto;
        height: auto;
        font-size: inherit;
        opacity: 1;
      }
    }
  }

  .header__languages-item {
    &--active {
      margin-left: 5px;
    }
  }
}
