.news-body .header {
  padding-bottom: 115px;
}

.main-news-container {
  overflow: hidden;
}

.main-news {
  margin-bottom: 104px;

  .select {
    flex-grow: 1;
    max-width: 270px;
    margin-right: 11px;
  }

  .new-select {
    width: 240px;
    padding: 9px 50px 9px 12px;
    border: 4px solid $black;
  }
}

.main-news__wrapper {
  @include flex;
  margin-bottom: 69px;
  font-size: 16px;
  line-height: 19px;
}

.main-news__search {
  position: relative;
  align-self: flex-start;
  margin-right: 47px;
}

.main-news__input {
  @include reset-input;
  width: 390px;
  padding: 9px 12px;
  padding-right: 55px;
  border: 4px solid $black;
  outline: none;
  @include placeholder {
    font-size: inherit;
    color: $black;
  }
  @include placeholder-focus;
}

.main-news__search-button {
  @include reset-button;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  @include flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  @include hover {
    .main-news__icon-search {
      fill: $light-red;
      @include transition;
    }
  }
  @include active-opacity;
  @include before {
    left: 0;
    @include center-transform-vertical;
    height: 50%;
    width: 50px;
    border-left: 1px solid black;
  }
}

.main-news__count {
  @include flex;
  @include reset-margin-text;
}

.main-news__title {
  margin-bottom: 57px;
}

.main-news__label {
  @include flex;
  @include center-flex;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;

  &--sort {
    @include reset-margin-text;
    width: 202px;
    margin-right: 10px;
  }

  &--number {
    width: 175px;
    margin-right: 15px;
  }
}

.main-news__select-input {
  width: 240px;
  @include padding-vertical(9px);
  @include padding-horizon(55px, 12px);
  border: 4px solid $black;
  box-sizing: border-box;
  cursor: pointer;
  @include placeholder {
    color: $black;
  }
}

.main-news__select-wrapper {
  @include flex;
  align-items: center;
  width: 100%;
}

.main-news__select-inner {
  position: relative;
  @include reset-margin-text;
  cursor: pointer;
  @include before-after {
    @include transition;
  }
  @include before-clean {
    z-index: 10;
    top: 13px;
    right: 25px;
    width: 2px;
    height: 15px;
    background-color: $black;
  }
  @include after-clean {
    top: 21px;
    right: 22px;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid $black;
    border-right: 0;
    border-top: 0;
    transform: rotate(-45deg);
  }
  @include hover {
    @include after-clean {
      top: 20.499px;
      right: 26px;
      transform: rotate(45deg);
    }
    @include before-clean {
      top: 17px;
      transform: rotate(90deg);
    }
  }
}

.main-news__border {
  position: absolute;
  right: 48px;
  top: 10px;
  z-index: 10;
  display: inline-block;
  height: 60%;
  width: 1px;
  background-color: $black;
}

.main-news__select {
  position: relative;
}

.main-news__list {
  @include flex;
  justify-content: space-between;
  @include reset-list;
  margin-bottom: 8px;
  color: $dark-blue;
}

.main-news__item {
  width: 575px;
  margin-bottom: 51px;

  &:nth-child(2n+2) {
    .main-news__date {
      padding-right: 5px;
      @include before-clean {
        right: 71px;
      }
    }

    .main-news__time-subtitle,
    .main-news__description {
      padding-left: 7px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-news__picture {
  display: block;
  width: 575px;
  height: 280px;
  margin-bottom: 33px;
}

.main-news__photo {
  width: 100%;
  max-height: 100%;
  height: 100%;
  @include object-fit(cover);
}

.main-news__date {
  position: relative;
  @include reset-margin-text;
  padding-right: 27px;
  margin-bottom: 34px;
  text-align: right;
  @include before {
    right: 86px;
    bottom: 2px;
    width: 117px;
    height: 1px;
    background-color: $black;
  }
}

.main-news__time {
  display: inline-block;
  font-size: 35px;
  line-height: 42px;
  font-family: 'Gilroy';
  font-weight: 900;
  color: $light-red;
}

.main-news__time-subtitle {
  min-height: 38px;
  @include reset-margin-text;
  margin-bottom: 27px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.main-news__description {
  @include reset-margin-text;
  font-size: 19px;
  line-height: 22px;
}

//Tablet
@include tablet {
  .news-body .header {
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .main-news {
    margin-bottom: 45px;

    .select {
      margin-right: auto;
    }

    .new-select {
      width: 245px;
    }
  }

  .main-news__wrapper {
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .main-news__subtitle {
    margin-bottom: 25px;
  }

  .main-news__title {
    margin-bottom: 25px;
  }

  .main-news__search {
    order: -1;
    margin-right: 0;
  }

  .main-news__count {
    order: -2;
    min-height: 45px;
    margin-bottom: 15px;
  }

  .main-news__label {
    &--number {
      margin-right: 38px;
    }
  }

  .main-news__input {
    width: 250px;
  }

  .main-news__item {
    width: 100%;
    margin-bottom: 75px;
  }

  .main-news__picture {
    width: 100%;
    height: 320px;
    margin-bottom: 10px;
  }

  .main-news__date {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .main-news__time-subtitle {
    margin-bottom: 10px;
  }

  .main-news__list {
    margin-bottom: 25px;
  }
}

//Mobile
@include mobile {
  .news-body .header {
    margin-bottom: 15px;
  }

  .main-news {
    margin-bottom: 25px;
  }

  .main-news__title {
    margin-bottom: 15px;
  }

  .main-news__search {
    order: -3;
    width: 100%;
    margin-bottom: 15px;
  }

  .main-news__input {
    width: 100%;
  }

  .main-news__label {
    display: inline-block;
    width: 100%;
    margin: 0 0 5px;
  }

  .main-news__picture {
    height: 150px;
  }

  .main-news__item {
    margin-bottom: 45px;
  }
}
