.sections-body {
  position: relative;

  .header {
    padding-bottom: 115px;
  }
}

.sections {
  .new-select {
    @include before-after-clean {
      display: none;
    }
  }
}

.sections__inner {
  @include flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.subtitle__psesections {
  display: inline-block;
  margin-left: 5px;
}

.sections__title {
  margin-bottom: 68px;
}

.sections__sort-title {
  @include reset-margin-text;
  margin-right: 41px;
  line-height: 20px;
  text-transform: uppercase;
}

.sections__sort-list {
  @include flex;
  @include reset-list;
}

.sections__sort-item {
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.sections__sort-link {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  @include hover-opacity;
  @include active-opacity;

  &--active {
    position: relative;
    cursor: default;
    @include hover {
      opacity: 1;
    }
    @include active {
      opacity: 1;
    }
    @include before {
      bottom: -2px;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }
}

.sections__picture {
  cursor: pointer;
}

.sections__image {
  position: relative;
  @include before {
    z-index: -100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 5px solid $light-red;
    @include transition-fade;
    visibility: hidden;
    opacity: 0;
  }
}

.sections__star-box {
  display: block;
  position: absolute;
  left: 20px;
  top: 26px;
  visibility: hidden;
  opacity: 0;
  @include transition-fade;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}


.sections__fill-star {
  fill: $light-red;
  @include hover-opacity;
  @include active-opacity;
  @include transition;
  cursor: pointer;
}

.sections__modal {
  position: absolute;
  z-index: 1000;
  top: 431px;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

.sections__item {
  z-index: 10;

  &--active {
    z-index: 100;

    .sections__modal {
      visibility: visible;
      opacity: 1;
    }

    .sections__image {
      @include before-clean {
        z-index: 100;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
